{% extends 'base.html.twig' %}

{% block title %}Matière{% endblock %}

{% block body %}
    <h1>Matière : <strong>"{{ note_matiere.nomMatiere }}"</strong></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note_matiere.id }}</td>
            </tr>
            <tr>
                <th>NomMatiere</th>
                <td>{{ note_matiere.nomMatiere }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('note_matiere_index') }}">Retour à la liste</a>

    <a href="{{ path('note_matiere_edit', {'id': note_matiere.id}) }}">Modifier</a>

    {{ include('note_matiere/_delete_form.html.twig') }}
{% endblock %}
