{% extends 'base.html.twig' %}

{% block title %}Devoir{% endblock %}

{% block body %}
    <h1>devoir : <strong>"{{ note_devoir.nom }}"</strong> du {{ note_devoir.date ? note_devoir.date|date('d/m/Y') : '' }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note_devoir.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ note_devoir.date ? note_devoir.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ note_devoir.nom }}</td>
            </tr>
            <tr>
                <th>Coefficient</th>
                <td>{{ note_devoir.coefficient }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('note_devoir_index') }}">Retour à la liste</a>

    <a href="{{ path('note_devoir_edit', {'id': note_devoir.id}) }}">Modifier</a>

    {{ include('note_devoir/_delete_form.html.twig') }}
{% endblock %}
